
<blockquote><%= @topic.posts.order_newest_first.first.content %></blockquote>
<hr />
<p>
    This e-mail was sent to You, because <%= @topic.user.thredded_display_name %> joined you to his private conversation "<%= link_to @topic.title, @topic %>".
    <%= link_to 'Click here', @topic %>, to see the conversation.
</p>

<p>
    To turn off such notifications, update your <%= link_to 'preferences', edit_preferences_url %>.
</p>