<% topic = form.object.respond_to?(:topic) ? form.object.topic : form.object %>
<% if policy(topic).moderate? %>
    <li class="m-b-15">
        <div class="form__group">
            <%= form.check_box :locked, class: 'form__checkbox' %>
            <%= form.label :locked, class: 'inline' do %>
                <%= t 'thredded.topics.locked.label' %>
            <% end %>

            <%= form.check_box :sticky, class: 'form__checkbox' %>
            <%= form.label :sticky, class: 'inline' do %>
                <%= t 'thredded.topics.sticky.label' %>
            <% end %>
        </div>
    </li>
<% end %>