<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h2><%= @email.subject %></h2>
        <p>Od: <%= @email.name %>, (<%= @email.email %>), <%= @email.gender %></p>
        <p><%= @email.message %></p>
    </body>
</html>
