<% content_for :title do %>
    Contact
<% end %>
<h2 class="header header--main">Contact</h2>

<p class="no-indent">If You are interested in collaboration, have a question about Harry Potter TCG or the page, or have some problem - message me! Below there is contact form You can use. Fields with asterix are mandatory.</p>

<%# render 'shared/form_errors', :target => @contact %>

<form class="form" action="/contact" method="POST">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <fieldset>
        <legend>Contact form</legend>
        <div class="row">
            <div class="col-6 m-r-25">
                <div class="form__group">
                    <label class="form__label" for="emailName">Name</label>
                    <input class="form__text" id="emailName" name="email[name]" type="text" pattern=".{0}|\D{2,35}" placeholder=" " value="<%= @contact.name %>">
                </div>
            </div>
            <div class="auto">
                <div class="form__group"><span class="form__label form__label--bordered m-b-5">Gender</span>
                    <input class="form__checkbox" id="emailGenderM" name="email[gender]" type="radio" value="M">
                    <label class="inline m-r-15" for="emailGenderM">M</label>
                    <input class="form__checkbox" id="emailGenderF" name="email[gender]" type="radio" value="K">
                    <label class="inline" for="emailGenderF">F</label>
                </div>
            </div>
        </div>
        <div class="form__group">
            <label class="required form__label" for="emailEmail">E-mail</label>
            <input class="form__text" id="emailEmail" name="email[email]" type="email" placeholder=" " value="<%= @contact.email %>" required>
        </div>
        <div class="form__group">
            <label class="required form__label" for="emailSubject">Subject</label>
            <input class="form__text" id="emailSubject" name="email[subject]" type="text" pattern=".{5,50}" placeholder=" " value="<%= @contact.subject %>" required>
        </div>
        <div class="form__group">
            <label class="required form__label" for="emailMessage">Message</label>
            <textarea class="form__textarea" id="emailMessage" name="email[message]" rows="4" pattern=".{5,1000}" placeholder=" " required><%= @contact.message %></textarea>
        </div>
        <button class="form__submit" type="submit">Send</button>
    </fieldset>
</form>